@font-face{
    font-family: neue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100vh;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

h1{
    font-size: 1.75rem;
    padding:10px 0 ;
    font-family: neue;
    text-align: center;
}

.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}
.Input{
    width: 550px;
}
.Input input{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.89);
}
.Input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(147, 211, 251);
    font-size: 1rem;
    border-radius: 4px;
    background: transparent;
    backdrop-filter: blur(10px);
    
}
.Input .separator{
    height: 1px ;
    width: 100%;
    margin: 25px 0;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Input .separator::before {
    content: "or";
    color: gray;
    padding: 0 15px;
    font-size: 1.18rem;
    background:#76b2d4;
}
.weather-data{
    width: 100%;
    
}
.current-weather{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: #76b2d4;
    padding: 20px 40px 20px 20px;
}
.current-weather h2{
    font-size: 1.7rem;
}
.current-weather h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon img{
    max-width:150px ;
    margin-top: -20px;
}
.current-weather .icon h4{
    margin-top: -15px;
    text-transform: capitalize;
    text-align: center;
    
}

.day-forecast h2{
    font-size: 1.5rem;
    margin: 30px 0 ;
}
.weather-cards{
    display: flex;
    gap:20px;
}
.weather-cards .card{
    list-style: none;
    padding: 18px 16px;
    border-radius: 5px;
    background: #76b2d4 ;
    width: calc(100% / 6);
}
.weather-cards .card img{
    max-width: 100px;
    margin: 5px 0 -12px 0;
}
.weather-cards .card h4{
    margin-top: 10px;
    padding-top: 10px;
}

@media (max-width: 1400px) {
    .weather-data .current-weather{
        padding: 20px;
    }
    .weather-cards{
        flex-wrap: wrap;
    }
    .weather-cards .card{
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px){
    .weather-cards .card{
        width: calc(100% / 3 - 15px);
    }
}
@media (max-width: 950px){
    .Input{
        width: 450px;
    }
        
    .weather-cards .card{
        width: calc(100% / 2 - 15px);
        text-align: center;
    }
}
@media (max-width: 750px){


    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .Input{
        width: 100%;
    }
}